@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

/* inter-latin-wght-normal */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0px;
  border: none;
  padding: 0px;
}

body {
  font-family: "Inter Variable", sans-serif;
  color: var(--ctp-latte-text);
  background-color: var(--ctp-latte-base);
}

.status {
  background-color: var(--ctp-latte-mantle);
  padding: calc(0.25rem * 4);
  border: 1px solid var(--ctp-latte-surface0);
  border-radius: 0.5rem;
}

.status-username {
  display: flex;
  justify-content: center;
}

.status-username a {
  display: none;
}

.status-content {
  font-family: "JetBrains Mono Variable", monospace;
  color: var(--ctp-latte-yellow);
  background-color: var(--ctp-latte-base);
  padding: calc(0.25rem * 4);
  border: 1px solid var(--ctp-latte-surface0);
  border-radius: 0.5rem;
}

.status-content::before {
  content: '"';
}

.status-content::after {
  content: '"';
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-base);
  }

  .status {
    background-color: var(--ctp-mocha-mantle);
    border: 1px solid var(--ctp-mocha-surface0);
  }

  .status-content {
    color: var(--ctp-mocha-yellow);
    background-color: var(--ctp-mocha-base);
    border: 1px solid var(--ctp-mocha-surface0);
  }
}
