@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

/* inter-latin-wght-normal */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  border: none;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: calc(1.5 / 1);
  font-family: "Inter Variable", sans-serif;
  background-color: var(--ctp-latte-base);
  color: var(--ctp-latte-text);
}

nav {
  font-size: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--ctp-latte-surface0);
  margin-bottom: calc(0.25rem * 2);
}

nav a {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: calc(0.25rem * 2);
  border-bottom: 1px solid transparent;
  margin-right: calc(0.25rem * 4);
  margin-bottom: -1px;
  color: var(--ctp-latte-text);
}

nav a:visited {
  color: var(--ctp-latte-text);
}

nav a:first-of-type {
  font-weight: 500;
  font-family: "JetBrains Mono Variable", monospace;
  text-transform: none;
}

nav a:nth-child(4) {
  text-transform: none;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--ctp-latte-text);
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--ctp-latte-green);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--ctp-latte-green);
}

h2 {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 500;
  font-family: "JetBrains Mono Variable", monospace;
  margin-bottom: calc(0.25rem * 2);
}

section:first-of-type {
  display: flex;
  flex-direction: column;
}

section:first-of-type p {
  align-self: center;
  margin-bottom: calc(0.25rem * 2);
}

.profile-picture {
  background-color: var(--ctp-latte-mantle);
  max-width: none;
  width: calc(0.25rem * 48);
  height: calc(0.25rem * 48);
  align-self: center;
  border-radius: calc(infinity * 1px);
  margin-bottom: calc(0.25rem * 2);
}

dl {
  background-color: var(--ctp-latte-mantle);
  padding: calc(0.25rem * 4);
  border: 1px solid var(--ctp-latte-surface0);
  border-radius: 0.5rem;
}

dt {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  font-weight: 500;
  font-family: "JetBrains Mono Variable", monospace;
  text-transform: uppercase;
  margin-bottom: calc(0.25rem * 2);
  color: var(--ctp-latte-subtext0);
}

dd {
  margin-bottom: 0px;
}

dd:not(:nth-last-child(1)) {
  padding-bottom: calc(0.25rem * 2);
  border-bottom: 1px solid var(--ctp-latte-surface0);
  margin-bottom: calc(0.25rem * 2);
}

.status {
  background-color: var(--ctp-latte-mantle);
  padding: calc(0.25rem * 4);
  border: 1px solid var(--ctp-latte-surface0);
  border-radius: 0.5rem;
}

.status-username {
  display: flex;
  justify-content: center;
}

.status-username a {
  display: none;
}

.status-content {
  font-weight: 500;
  font-family: "JetBrains Mono Variable", monospace;
  background-color: var(--ctp-latte-base);
  padding: calc(0.25rem * 4);
  border: 1px solid var(--ctp-latte-surface0);
  border-radius: 0.5rem;
  color: var(--ctp-latte-yellow);
}

.status-content::before {
  content: '"';
}

.status-content::after {
  content: '"';
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
  }

  nav {
    border-bottom: 1px solid var(--ctp-mocha-surface0);
  }

  nav a {
    color: var(--ctp-mocha-text);
  }

  nav a:visited {
    color: var(--ctp-mocha-text);
  }

  nav a:hover {
    border-bottom: 1px solid var(--ctp-mocha-text);
  }

  a {
    color: var(--ctp-mocha-green);
  }

  a:visited {
    color: var(--ctp-mocha-green);
  }

  .profile-picture {
    background-color: var(--ctp-mocha-mantle);
  }

  dl {
    background-color: var(--ctp-mocha-mantle);
    border: 1px solid var(--ctp-mocha-surface0);
  }

  dt {
    color: var(--ctp-mocha-subtext0);
  }

  dd:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--ctp-mocha-surface0);
  }

  .status {
    background-color: var(--ctp-mocha-mantle);
    border: 1px solid var(--ctp-mocha-surface0);
  }

  .status-content {
    background-color: var(--ctp-mocha-base);
    border: 1px solid var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-yellow);
  }
}
